<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="viewport" content="width=device-width, initial-scale=1">
	<title>MyProtfolio</title>

   <!-- Custom Bootstrap file -->



	<!--- Custom css file -->
	 {% load static %}
	<link rel="stylesheet" href="{%static 'authority/css/style.css'%}">
</head>
<body>
    {% block content %}

<!-- =============Strat header==---->
<header>
	<nav class="stretchy-nav">
		<a href="#0" class="nav-trigger">
			<span></span>
		</a>
		<ul class="links">
			<li><a class="active" href="#home"><span class=" fa fa-home"></span>Home</a></li>
			<li><a href="#about"><span class="fa fa-user"></span>About</a></li>
			<li><a href="#protfolio"><span class="fa fa-briefcase"></span>Protfolio</a></li>
			<li><a href="#contact"><span class="fa fa-comments"></span>Contact</a></li>
			<li><a href="#blog"><span class="fa fa-envelope-open"></span>Blog</a></li>
		</ul>
		<span class="stretchy-nav-bg"></span>
	</nav>


</header>

<!-- =============Strat header===---->

<!-- =============Strat home========---->
<section class="home">
	<div class="overlay">

	</div>
		<div class="container">
			<div class="row">
				<div class="home-content">
					<div class="pic-box">
						<div class="pic">


						</div>
					</div>
					<div class="text">
						<h3 class="title-text">Hi there!</h3>
						<h1 class="title-text text-uppercase">I am <span>Sonahur Rahman</span> </h1>
						<h4 class="title-text text-uppercase">Junior <span>web Developer</span></h4>
						<p class="">Compared with commercial websites, web developers’ personal websites need to pay more attention to personality and independent thinking. Below, you will find 24 of the best web developer portfolios from both individual designers and creative studios worldwide. Scroll down and get inspired.</p>
						<div class="home-button">
							<a href="#" class="btn-bg"><span class="fa fa-user"></span>More about me</a>
							<a href="#" class="btn-link"><span class="fa fa-briefcase"></span>Protfolio</a>
						</div>

					</div>


				</div>

			</div>
		</div>
	</section>


	<!-- =============end home========---->

	<!-- =============start about========---->
	<section class="about ">
		<div class="conatiner">
			<div class="row">
				<div class="page-title">
					<h1 class="heading">About <span>me</span></h1>
					<p class="sub-heading">I design and code Beautiful things, and i love what i do </p>
				</div>

			</div>
			<!---personal info-->
			<div class="row">
				<div class="personal-info">
					<div class="img-box">
						<img src="{%static 'authority/images/sohnaur1.jpg'%}" alt="sohnaur1">
					</div>
					<div class="info">
						<div class="row">
						 <div class="col-6">
							<ul>
								<li><span>First Name</span> Sohanur</li>
								<li><span>Last Name</span> Rahman</li>
								<li><span>Birth Day</span> 1 jan 1996</li>
								<li><span>Nationality</span> Bangladeshi</li>
								<li><span>Experience</span> 2 years</li>
								<li><span>Address</span> Bogura, Bangladesh</li>


							</ul>
						 </div>
						<div class="col-6">
							<ul>
								<li><span>Freelance</span> Available</li>
								<li><span>Language</span>English</li>
								<li><span>phone</span>01571-784792</li>
								<li class="email"><span>Email</span> sohanurswe@gmail.com</li>
								<li><span>skype</span>sohanur.rahman</li>



							</ul>

						</div>
					  </div>
					  <div class="row">
					  	<div class="cv-btn">
					  		<a href="" class="btn-bg">Download My CV</a>
					  	</div>

					  </div>

					</div>
				</div>

			</div>
			<!-- separator-->
			<div class="row">
				<div class="separator">
					<div class="line">

					</div>
				</div>
			</div>
			<div class="row">
				<div class="resume">
					<div class="row">
						<div class="experience">
							<div class="row">
								<div class="section-title">
									<h3>Experience </h3>
								</div>
							</div>
							<div class="row">
								<div class="details">
									<div class="card">
										<div class="circle"></div>
										<h6 class="date"><span class="fa fa-calendar"></span>2017 -2019</h6>
										<h4 class="position">Web Developer<span class="separator"></span>djksdsk</h4>
										<p>Lorem ipsum dolor sit amet, consider adipiscing elit , sed diem normaly nidnn akdjks sdkjcnsdk dimsdn.</p>

									</div>
									<div class="card">
										<div class="circle"></div>
										<h6 class="date"><span class="fa fa-calendar"></span>2017 -2019</h6>
										<h4 class="position">Web Developer<span class="separator"></span>Envator</h4>
										<p>Lorem ipsum dolor sit amet, consider adipiscing elit , sed diem normaly nidnn akdjks sdkjcnsdk dimsdn.</p>

									</div>
									<div class="card">
										<div class="circle"></div>
										<h6 class="date"><span class="fa fa-calendar"></span>2016 -2018</h6>
										<h4 class="position">Web proggraming <span class="separator"></span><span class="bold"></span>Envator</h4>
										<p>Lorem ipsum dolor sit amet, consider adipiscing elit , sed diem normaly nidnn akdjks sdkjcnsdk dimsdn.</p>

									</div>
								</div>

							</div>
						</div>
						<div class="education">
							<div class="row">
								<div class="section-title">
									<h3>Education </h3>
								</div>
							</div>
							<div class="row">
								<div class="details">
									<div class="card">
										<div class="circle"></div>
										<h6 class="date"><span class="fa fa-calendar"></span> 2017 -2019</h6>
										<h4 class="degree">Bachelor Degree<span class="separator"></span><span class="bold">Daffodil International University</span></h4>
										<p>Lorem ipsum dolor sit amet, consider adipiscing elit , sed diem normaly nidnn akdjks sdkjcnsdk dimsdn.</p>

									</div>
									<div class="card">
										<div class="circle"></div>
										<h6 class="date"><span class="fa fa-calendar"></span> 2017 -2019</h6>
										<h4 class="degree">HSC<span class="separator"></span><span class="bold">Govt Shasultan Collage</span></h4>
										<p>Lorem ipsum dolor sit amet, consider adipiscing elit , sed diem normaly nidnn akdjks sdkjcnsdk dimsdn.</p>

									</div>
									<div class="card">
										<div class="circle"></div>
										<h6 class="date"><span class="fa fa-calendar"></span> 2017 -2019</h6>
										<h4 class="degree">SSC<span class="separator"></span><span class="bold">Bogura Coronation Institution School </span></h4>
										<p>Lorem ipsum dolor sit amet, consider adipiscing elit , sed diem normaly nidnn akdjks sdkjcnsdk dimsdn.</p>

									</div>

								</div>
							</div>
						</div>
					</div>
					<!-- Skills--->

					<div class="row">
						<div class="skills">
							<div class="row">
								<div class="section-title">
									<h3>Skills </h3>
								</div>
							<div class="items">

							    <h4>Html</h4>
								  <div class="skill-bar">
									<div class="skill-bar-in" style="width: 80%">
									  <span>80%</span>
									</div>
								  </div>

							</div>
							<div class="items">

									<h4>Java Script</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 60%">
											<span>60%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>Css</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 70%">
											<span>70%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>jQuery</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 55%">
											<span>55%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>Angular JR</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 50%">
											<span>50%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>Wordpress</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 80%">
											<span>80%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>Illustrator</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 60%">
											<span>60%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>After Effects</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 60%">
											<span>60%</span>
										</div>
									</div>

							</div>
							<div class="items">

									<h4>Photoshop</h4>
									<div class="skill-bar">
										<div class="skill-bar-in" style="width: 80%">
											<span>80%</span>
										</div>
									</div>

							</div>
						 </div>
						</div>
					</div>
					<!--- end skills-->
				</div>
			</div>

		</div>

	</section>


	<!-- =============end about========---->

	<!-- =============start protfolio========---->

    <section class="protfolio">
		<div class="conatiner">
			<div class="row">
				<div class="page-title">
					<h1 class="heading">my <span>Protfolio</span> </h1>
					<p class="sub-heading">A few Recent Design and Coding project.Want see more? Email me </p>
				</div>

			</div>
			<div class="protfolio-items">
                <!--item -->
				<div class="item" data-format="image-format">
					<div class="box">
						<div class="img">
							<img src="{%static 'authority/images/protfolio/pro1.jpg'%}" alt="project">
							<div class="item-ovarly">
							
							</div>
						</div>
						<div class="project-info">
							<span class="project">Website</span>
							<span class="client">Sohanur</span>
							<span class="duration">3 Month</span>
							<span class="technologies">Html, Javascript</span>
							<span class="budget">45000 tk </span>
						</div>
					</div>
				</div>
				<!--item end-->
				 <!--item -->
				<div class="item" data-format="image-format">
					<div class="box">
						<div class="img">
							<img src="{%static 'authority/images/protfolio/pro1.jpg'%}" alt="project">
							<div class="item-ovarly">

							</div>
						</div>
						<div class="project-info">
							<span class="project">Website</span>
							<span class="client">Sohanur</span>
							<span class="duration">3 Month</span>
							<span class="technologies">Html, Javascript</span>
							<span class="budget">45000 tk </span>
						</div>
					</div>
				</div>
				<!--item end-->
				 <!--item -->
				<div class="item" data-format="image-format">
					<div class="box">
						<div class="img">
							<img src="{%static 'authority/images/protfolio/pro1.jpg'%}" alt="project">
							<div class="item-ovarly">

							</div>
						</div>
						<div class="project-info">
							<span class="project">Website</span>
							<span class="client">Sohanur</span>
							<span class="duration">3 Month</span>
							<span class="technologies">Html, Javascript</span>
							<span class="budget">45000 tk </span>
						</div>
					</div>
				</div>
				<!--item end-->

			</div>
		</div>
	</section>



	<!-- =============end protfolio========---->


<script src="{%static 'authority/js/script.js'%}"></script>

 {% endblock %}

</body>
</html>
