<!DOCTYPE html>
<html>
<head>
<title>contact page</title>
     {% load static %}
        <link rel="stylesheet" href="{%static 'css/contactbase.css'%}">
</head>
<body>
  {% block content %}
<h1>CONTACT US</h1>
<div class="name">
    <span  class="pappu" style="text-decoration: none;"> <a href="contact"> Sohanur </a></span>
     <span class="antor" style="text-decoration: none;"> <a href="#">Mazarul</a></span>
     <span class="minhaz" style="text-decoration: none;"> <a href="#">Minhaz</a></span>
</div>
 {% endblock %}
</body>
</html>