{% extends 'Candidate/base.html' %}

{% block content %}

    <div style="margin-bottom: 20px">
        <div>
            {% if user.is_authenticated %}
                <a class="nav-link" href="#" style="color:red">hello {{user}}</a>
                <a class="nav-link" href="{% url 'Candidate:logout' %}">
                    <button>Log Out</button>
                </a>

              {% endif %}
        </div>
    </div>

<form action="{% url 'Candidate:submitCV' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

    <div class="form-group">
      <label for="exampleFormControlFile1">Upload your CV/Resume</label>
      <input type="file" name="resume" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="personal" style="font-size:17px; color: red; font-style:italic; font-decoration:none;">Sort Interview</a>
   <a href="con" style="font-size:17px; color: blue; font-style:italic; font-decoration:none;">Contact Us </a>

  </form>

{% endblock content %}