{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authority Pae</title>
    <link rel="stylesheet" href="{% static 'css/roleStyle.css' %}">

</head>
<body>
    <div class="container">
        <div class="firstButton">
            <a href="/authority/login">
                <button>Authority Login</button>
            </a>
        </div>
        <div class="secondChile">
            <a href="/authority/registration">
                <button>Authority Registration</button>
            </a>
        </div>

    </div>

</body>
</html>
