{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Role</title>
    <link rel="stylesheet" href="{% static 'css/roleStyle.css' %}">

</head>
<body>
    <div class="container">
        <div class="firstButton">
            <a href="/candidatepage">
                <button>Candidate</button>
            </a>
        </div>
        <div class="secondChile">
            <a href="/authoritypage">
                <button>Authority</button>
            </a>
        </div>

    </div>

</body>
</html>
